.footer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer__up{
    display: flex;
    
}
.footer-social{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.footer-social >li{
    margin: 3px;
}
.footer__upIcon>a{
    margin-left: 150px;
    margin-top: -25px;
    text-decoration: none;
    color: #D68D69;
}
.footer__upIcon >a:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.4);
}

.footer-socialList{
    color: #D68D69;
}
.footer-socialList:hover{
    color: #9E6A50;
}
p{
    color:#D68D69
}