#navbar{
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    background: white;
  

}
.navbar-button{
    height: 30px;
    
    margin-top: 10px;
    white-space: nowrap;
    margin-left: 40px;
    
}
.link>button{ 
    color: #C57B57;
    background-color: rgb(44, 42, 42);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    white-space: nowrap;
}

.navbar-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    visibility: visible;

   
}
@keyframes shadow {
    50% {box-shadow: 10px 10px 10px #D68D69;}
  }
.navbar-list > li{
    margin:0px 20px;
    padding: 5px 15px;
    border-bottom: 1px solid #F7DBA7;
    border-radius: 10px;
    width: 60px;
    justify-content: center;
    display: flex;
    
   
}
.navbar-list > li:hover{
    transform: scale(1.05);
    background-color: #F7DBA7;
    animation: shadow 5s infinite ;
}

.navbar-listItem{
    text-decoration: none ;
    color: #C57B57 ;

}
.navbar-ham{
    display: none;
}

@media screen and (max-width:600px){
   
    .navbar-ham{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform:translate(-100%, 50%);
        cursor: pointer;
        color: #C57B57;
        
    
    }
    .navbar-ham:hover{
        color: #91593e;
       
    }
    .navbar-list{
        visibility:hidden;
    }
  
}